@import "tailwindcss";

::selection {
  @apply bg-emerald-500 text-gray-900;
}
* {
  @apply scroll-m-10 scroll-smooth;
}
body {
  @apply bg-gray-900;
}
/* Header */
.nav {
  @apply py-2;
}
.nav-bar {
  @apply md:flex gap-4 hidden justify-end mx-auto md:flex-row md:gap-3;
}
.nav-link {
  @apply font-medium text-gray-200 md:border md:border-gray-800 border-2 hover:border-gray-500 border-emerald-500 rounded md:hover:border-emerald-500 cursor-pointer md:py-1 px-3 py-3 transition-all ease-in-out duration-300;
}

.mobile-menu {
  @apply fixed right-0 top-0 h-full w-2/3 bg-gray-900 text-gray-200 border-l-4 text-lg border-emerald-500 flex flex-col items-center justify-center gap-6;
}

/*Hero*/
.hero-heading {
  @apply md:text-4xl text-3xl font-bold text-gray-100;
}
.hero-paragraph {
  @apply md:text-2xl text-xl font-medium text-gray-200;
}
.hero-span {
  @apply text-emerald-400 bg-clip-text ;
}
/*About me*/
.aboutme-paragraph {
  @apply text-gray-200 md:text-lg text-center;
}
.aboutme-tools-tag {
  @apply  bg-gray-950 rounded px-3 py-2 text-emerald-500;
}
/*Experience*/
.experience-container {
  @apply relative flex items-baseline md:gap-2 gap-1 pb-5;
}
.experience-heading {
  @apply text-gray-100 md:text-2xl text-xl font-bold mb-4;
}
.experience-date-font {
  @apply font-bold text-gray-500;
}
.experience-company-font {
  @apply md:text-xl text-lg font-bold my-2 text-emerald-400;
}
.experience-paragraph-font {
  @apply text-gray-200 mt-2;
}
.experience-tools-tag {
  @apply border border-gray-500 bg-gray-800 rounded px-2 text-sm text-gray-200;
}
.tools-list {
  @apply list-none md:flex grid grid-cols-3 gap-1;
}
/*Footer*/
.footer-bar {
  @apply flex gap-3;
}
.footer-link {
  @apply text-gray-200 font-medium mb-4 py-1 px-3 hover:text-gray-500 transition ease-in-out duration-300;
}
.footer-paragraph-font {
  @apply text-gray-200 text-xs;
}
/*Imprint & DataPrivacy*/
.home-btn {
  @apply flex gap-2 py-1 px-2  border border-gray-800 hover:border-gray-600 text-gray-200 rounded-lg mt-4 cursor-pointer transition ease-in-out duration-300;
}
.imprint-heading,
.privacy-heading {
  @apply  text-2xl font-bold text-gray-100 mt-10 mb-4;
}
.imprint-middle-font,
.privacy-middle-font {
  @apply text-emerald-400 text-xl font-medium;
}
.imprint-paragraph-font,
.privacy-paragraph-font {
  @apply text-gray-200;
}
