@import "tailwindcss";

::selection {
  @apply bg-teal-600 text-teal-50;
}
* {
  @apply scroll-m-10 scroll-smooth;
}
body {
  @apply bg-gray-900;
}
/*Header*/
.nav {
  @apply p-6 bg-gray-950;
}
.nav-bar {
  @apply flex gap-4 justify-end;
}
.nav-link {
  @apply font-medium text-teal-400 border border-r-0 border-l-0 border-gray-900 hover:border-b-teal-600 hover:border-t-violet-600 hover:text-gray-100 cursor-pointer py-1 px-3 transition-all ease-in-out duration-700;
}
/*Hero*/
.hero-heading {
  @apply text-5xl font-bold text-violet-50;
}
.hero-paragraph {
  @apply text-2xl font-medium text-violet-100;
}
.hero-span {
  @apply bg-gradient-to-r from-teal-500 to-violet-500 bg-clip-text text-transparent;
}
.hero-btn {
  @apply text-lg font-medium bg-gradient-to-r from-violet-500 to-teal-500 py-3 px-6 rounded-lg w-fit  hover:from-teal-400 hover:to-violet-400 hover:shadow-md hover:shadow-indigo-600 mt-4 hover:scale-105 cursor-pointer transition ease-in-out duration-300;
}
/*About me*/
.aboutme-heading {
  @apply bg-gradient-to-r from-teal-500 to-violet-500 bg-clip-text  text-3xl font-bold text-transparent mb-4;
}
.aboutme-paragraph {
  @apply text-violet-100 text-lg text-center;
}
/*Skills*/
.skills-image {
  @apply w-20 h-auto p-2  transition ease-in-out duration-300;
}
/*Experience*/
.experience-heading {
  @apply bg-gradient-to-r from-teal-500 to-violet-500 bg-clip-text text-3xl font-bold text-transparent mb-4;
}
.experience-date-font {
  @apply font-bold text-violet-50;
}
.experience-company-font {
  @apply text-xl font-bold text-violet-50;
}
.experience-paragraph-font {
  @apply text-violet-50 mt-2;
}
.experience-tools-tag {
  @apply border border-teal-300 rounded-full px-2 text-sm text-teal-300;
}
/*Contact*/
.contact-heading {
  @apply bg-gradient-to-r from-teal-500 to-violet-500 bg-clip-text  text-3xl font-bold text-transparent mb-4;
}
.contact-label-font {
  @apply block text-sm font-medium text-teal-100;
}
.contact-inputfield {
  @apply w-full p-2 border rounded-lg border-teal-600 text-teal-100;
}
.contact-submit-btn {
  @apply font-medium bg-gradient-to-r from-violet-500 to-teal-500 py-3 px-6 rounded-lg  hover:from-teal-400 hover:to-violet-400 hover:shadow-md hover:shadow-indigo-600 mt-4 hover:scale-105 cursor-pointer transition ease-in-out duration-300;
}
.error-font {
  @apply text-rose-400 text-sm;
}
/*Footer*/
.footer-bar {
  @apply flex gap-5;
}
.footer-link {
  @apply bg-gradient-to-r from-teal-500 to-violet-500 bg-clip-text font-medium text-transparent mb-4 py-1 px-3 hover:from-violet-500 hover:to-teal-500 border hover:border-b-teal-600 hover:border-t-violet-600 transition ease-in-out duration-700;
}
.footer-paragraph-font {
  @apply text-violet-100 text-sm;
}
/*Imprint*/
.home-btn {
  @apply flex gap-2 font-medium bg-gradient-to-r from-violet-500 to-teal-500 py-2 px-4 rounded-lg  hover:from-teal-400 hover:to-violet-400 hover:shadow-md hover:shadow-indigo-600 mt-4 hover:scale-105 cursor-pointer transition ease-in-out duration-300;
}
.imprint-heading {
  @apply bg-gradient-to-r from-teal-500 to-violet-500 bg-clip-text  text-3xl font-bold text-transparent mt-10 mb-4;
}
.imprint-middle-font {
  @apply text-teal-500 text-xl font-medium;
}
.imprint-paragraph-font {
  @apply text-teal-50;
}
