@import "tailwindcss";

::selection {
  @apply bg-violet-600 text-violet-50;
}
/*Header*/
.nav {
  @apply p-6 bg-gray-900;
}
.nav-bar {
  @apply flex gap-4 justify-end;
}
.nav-link {
  @apply text-lg font-medium text-teal-300 border border-gray-900 hover:border-violet-500 rounded cursor-pointer py-2 px-4 transition-all ease-in-out duration-300;
}
/*Hero*/
.hero-heading {
  @apply text-5xl font-bold text-teal-50;
}
.hero-paragraph {
  @apply text-2xl font-medium text-teal-100;
}
.hero-span {
  @apply bg-gradient-to-r from-teal-500 to-violet-500 bg-clip-text text-transparent;
}
.hero-btn {
  @apply text-lg font-medium bg-gradient-to-r from-violet-400 to-teal-400 py-3 px-6 rounded-lg  hover:from-teal-400 hover:to-violet-400 hover:shadow-md hover:shadow-indigo-600 mt-4 hover:scale-105 cursor-pointer transition ease-in-out duration-300;
}
/*About me*/
.aboutme-heading {
  @apply bg-gradient-to-r from-teal-500 to-violet-500 bg-clip-text  text-3xl font-bold text-transparent mb-4;
}
.aboutme-paragraph {
  @apply text-gray-800 text-lg text-center;
}
