<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>J&uuml;rgen Mosgan</title>
  </head>

  <body>
    <div class="container">
      <header>
        <nav class="navbar">
          <ul class="navIcons">
            <li><a href="https://www.linkedin.com/in/jürgen-mosgan-5a6485181"><img src="images/linkedin-white.png" alt="Linkedin" /></a></li>
            <li><a href="https://github.com/juergenrose"><img src="images/github-white.png" alt="GitHub" /></a></li>
          </ul>
          <ul class="navLinks">
            <li><a href="#aboutme">&Uuml;ber mich</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Kontakt</a></li>
          </ul>
        </nav>
      </header>

      <main>
        <section id="aboutme">
          <div class="container">
            <img class="image" src="/images/image.png" />
            <div class="text">
              <h2>Hallo, mein Name ist J&uuml;rgen Mosgan.</h2>
              <p>Frontend Developer und Linux Enthusiast.</p>
              <br />
              <button class="downloadBtn">Download CV</button>
              <br />
            </div>
          </div>
        </section>

        <section id="skills">
          <div class="container">
            <img class="skillItem" src="images/html5-black.png" alt="HTML5" />
            <img class="skillItem" src="images/css3-black.png" alt="CSS3" />            
            <img class="skillItem" src="images/javascript-black.png" alt="JavaScript" />            
            <img class="skillItem" src="images/nodejs-black.png" alt="Node" />           
            <img class="skillItem" src="images/mysql-black.png" alt="MySQL" />            
            <img class="skillItem" src="images/wordpress-black.png" alt="Wordpress" />            
            <img class="skillItem" src="images/windows11-black.png" alt="Windows" />            
            <img class="skillItem" src="images/linux-black.png" alt="GNU/Linux" />
            </div>
          </div>
        </section>

        <section id="portfolio">
          <div class="container">
            <h2>Realisierte Projekte</h2>
            <div class="carousel">
              <img src="/public/images/comingSoon.png" alt="Project 1" />
              <img src="/public/images/comingSoon.png" alt="Project 2" />
              <img src="/public/images/comingSoon.png" alt="Project 3" />
              <!-- Add more images as needed -->
            </div>
          </div>
        </section>

        <section id="contact">
          <div class="container">
            <h2>Anfrage senden</h2>
            <div class="emailForm">
              <form action="/contact" method="post">
                <div>
                  <label class="contactLabel" for="email"
                    >Bitte geben Sie Ihre Email an</label
                  >
                  <br />
                  <input type="email" id="email" name="email" required />
                </div>
                <div>
                  <label class="contactLabel" for="emailText"
                    >Was ist Ihr Anliegen?</label
                  >
                  <br />
                  <textarea id="emailText" name="emailText" required></textarea>
                </div>
                <button class="emailBtn" type="submit">Email senden</button>
              </form>
              <br />
              <div class="sociallinks">
                <div class="skillItem">
                  <img src="images/linkedin-plain.svg" alt="Linkedin" />
                </div>
                <div class="skillItem">
                  <img src="images/github-original.svg" alt="GitHub" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <br />

      <footer>
        <a href="https://github.com/juergenrose/juergenrose.github.io"
          >Code on Github</a
        >
      </footer>
    </div>

    <script src="/js/app.js"></script>
  </body>
</html>
