/* universal settings*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
}
::selection {
  background-color: #ffc500;
  color: #111;
}

/* navbar settings */
.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  margin-top: 1em;
  transition: transform 0.3s ease;
}
.hamburger-menu.active {
  transform: rotate(90deg);
}
.bar {
  width: 100%;
  height: 2px;
  background-color: #ffa600;
  transition: all 0.3s ease;
}
.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLinks,
.navIcons {
  display: flex;
  list-style-type: none;
}
.navLinks ul,
.navIcons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navLinks li,
.navIcons li {
  margin: 0;
  font-size: 1.5em;
}
.navLinks a,
.navIcons a {
  display: block;
  color: #f8f8f8;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}
.navIcons a:hover {
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: translateY(-2%);
}
.navLinks a:hover {
  color: #ec7e00;
  cursor: pointer;
}
.navIcons img {
  width: 48px;
}

/*about me section*/
#home {
  background-color: #111;
}
.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home .image {
  margin-right: 2em;
  max-width: 550px;
  height: auto;
}
.container-home .text {
  color: #f8f8f8;
  font-size: 32px;
}

/*modal cv button*/
#cvBtn {
  margin-top: 1em;
  background-color: #ffa600;
  border: 0;
  border-radius: 35px;
  padding: 20px 25px;
  font-size: 25px;
  color: #111;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: translateY(-50%);
}
#cvBtn a {
  text-decoration: none;
  color: inherit;
}
#cvBtn:hover {
  background-color: #ec7e00;
  color: #111;
  cursor: pointer;
  transform: translateY(-50%) scale(1.1);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal-content {
  background-color: #222;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #222;
  border-radius: 15px;
  width: 60%;
}
.modal-content h1 {
  font-size: 30px;
  color: #ffa600;
}
.modal-content h2 {
  font-size: 26px;
  margin-bottom: 50px;
}
.modal-content p {
  font-size: 20px;
}
.boldFont {
  color: #ec7e00;
}
hr {
  border: 1px solid #ffa600;
  margin: 2em;
}
.close {
  color: #be3f3f;
  float: right;
  font-size: 40px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #d14242;
  text-decoration: none;
  cursor: pointer;
}

/*skills section*/
#skills {
  background-color: #ffc500;
  padding: 2em;
}
#skills .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skillItem {
  margin: 0 2em;
  width: 60px;
}

/*aboutme section*/
#aboutme {
  color: #111;
  background-color: #ffa600;
  padding: 2em;
}
#aboutme .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  line-height: 1.5;
}
#aboutme h2 {
  font-size: 26px;
}
#aboutme p {
  font-size: 20px;
}

/*portfolio section*/
#portfolio {
  padding: 2em;
  color: #f8f8f8;
}
#portfolio h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 2em;
}
#portfolio h3 {
  font-size: 22px;
}
#portfolio p {
  font-size: 18px;
}
#portfolio .container {
  max-width: 1000px;
  margin: 0 auto;
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.carousel-item {
  flex: 0 0 100%;
  margin-right: 0;
  text-align: center;
}
.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-control {
  position: absolute;
  top: 50%;
  background-color: #111;
  color: #ffc500;
  font-weight: bold;
  padding: 25px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 6px #ec7e00;
  transform: translateY(-50%);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.carousel-control:hover {
  background-color: #ffa600;
  color: #111;
  box-shadow: 0 2px 6px #111;
  transform: translateY(-50%) scale(1.1);
}
.carousel-control.prev {
  left: 1em;
}
.carousel-control.next {
  right: 1em;
}

/*contact section*/
#contact {
  background-color: #ffa600;
}
#contact .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}
#contact h2 {
  text-align: center;
  font-size: 26px;
}
.emailForm {
  padding: 2em;
  border-radius: 20px;
  text-align: center;
}
.contactLabel {
  display: block;
  text-align: left;
  font-size: 18px;
  margin-left: 1em;
  margin-bottom: -1em;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border: 0;
  border-radius: 20px;
}
textarea {
  width: 100%;
  height: 300px;
  padding: 1em;
  margin-bottom: 1em;
  border: 0;
  border-radius: 20px;
}
textarea::placeholder,
input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.emailBtn {
  background-color: #111;
  color: #f8f8f8;
  padding: 20px 25px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 20px;
  margin: 2em 0;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: translateY(-50%);
}
.emailBtn:hover {
  background-color: #222;
  transform: translateY(-50%) scale(1.1);
}
#confirm-message {
  background-color: #3d793d;
  color: #f8f8f8;
  padding: 25px;
  width: 50%;
  text-align: center;
  margin: auto;
  border: 0;
  border-radius: 10px;
  display: none;
  font-size: 18px;
}
#error-message {
  background-color: #be3f3f;
  color: #f8f8f8;
  padding: 25px;
  width: 50%;
  text-align: center;
  margin: auto;
  border: 0;
  border-radius: 10px;
  display: none;
  font-size: 18px;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  color: #f8f8f8;
  padding: 1.5em;
  font-size: 18px;
}
footer a {
  color: #ffa600;
  text-decoration: none;
}
footer a:hover {
  color: #ec7e00;
  text-decoration: underline;
}
.sociallinks {
  display: inline-flex;
  margin-top: 2em;
  justify-content: center;
}
.socialItem img {
  width: 48px;
  margin: 0 0.5em;
}
.heart {
  color: #be3f3f;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navLinks,
  .navIcons {
    display: none;
    width: 100%;
    text-align: center;
    padding: 1em 0;
  }
  .navLinks li,
  .navIcons li {
    margin: 0;
  }
  .hamburger-menu {
    display: flex;
  }
  .navLinks.active {
    display: block;
  }
  .navIcons.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navIcons img {
    width: 36px;
    flex-direction: row;
  }
  .container-home {
    flex-direction: column;
    text-align: center;
  }
  .container-home .image {
    margin: 0;
    width: 100%;
  }
  .container-home .text {
    font-size: 1.1em;
  }
  .downloadBtn {
    margin-bottom: 1em;
  }
  #portfolio .container {
    flex-direction: column;
    align-items: center;
  }
  .carousel-item img {
    width: 100%;
  }
  .carousel-control {
    padding: 0.5em;
  }
  #contact .emailForm input[type="text"],
  #contact .emailForm input[type="email"],
  #contact .emailForm textarea {
    width: calc(100% - 1em);
  }
  .sociallinks {
    flex-direction: row;
    align-items: center;
  }
  .socialItem img {
    margin: 0.5em;
    width: 36px;
  }
}
