/* universal settings*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
}
::selection {
  background-color: #888;
  color: #111;
}

/* navbar settings */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks,
.navIcons {
  display: flex;
  list-style-type: none;
}

.navLinks ul,
.navIcons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navLinks li,
.navIcons li {
  margin: 0;
  font-size: 1.5em;
}

.navLinks a,
.navIcons a {
  display: block;
  color: #f8f8f8;
  text-align: center;
  padding: 0 1.2em 0 0;
  text-decoration: none;
}
.navLinks a:hover,
.navIcons a:hover {
  color: #ec7e00;
  cursor: pointer;
}
.navIcons img {
  width: 48px;
}
/*about me section*/
#home {
  font-size: 1.5em;
  background-color: #111;
}
.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home .image {
  margin-right: 2em;
  max-width: 450px;
  height: auto;
}

.container-home .text {
  color: #f8f8f8;
  font-size: 1.3em;
}

/*download button*/
.downloadBtn {
  background-color: #ffa600;
  border: 0;
  border-radius: 2em;
  padding: 1em;
  font-size: 0.8em;
  color: #111;
}
.downloadBtn:hover {
  background-color: #ec7e00;
  color: #111;
  cursor: pointer;
}

/*skills section*/
#skills {
  background-color: #ffc500;
  padding: 2em;
}
#skills .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillItem {
  margin: 0 2em;
  width: 60px;
}

/*aboutme section*/
#aboutme {
  color: #111;
  background-color: #ffa600;
  font-size: 1.2em;
  padding: 2em;
}
#aboutme .container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  line-height: 1.5;
}

/*portfolio section*/
#portfolio {
  padding: 2em;
  font-size: 1.3em;
  color: #f8f8f8;
}
.font {
  text-align: center;
  margin-bottom: 2em;
}
#portfolio .container {
  color: #f8f8f8;
  justify-content: center;
  align-items: center;
  display: flex;
}
.carousel {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  justify-content: center;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.carousel-item img {
  width: 350px;
  height: auto;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/*contact section*/
#contact {
  padding: 2em;
  font-size: 1.3em;
  background-color: #ffa600;
}
#contact .container {
  padding: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#contact h2 {
  margin-bottom: 2em;
}

#contact .emailForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

#contact .emailForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

#contact .emailForm input[type="email"] {
  width: 600px;
  margin: 1em 0;
  padding: 1em;
  border: 0;
  border-radius: 30px;
}
#contact .emailForm textarea {
  width: 600px;
  height: 300px;
  margin: 1em 0;
  padding: 1em;
  border: 0;
  border-radius: 30px;
}

#contact .emailForm .contactLabel {
  margin-top: 2em;
}
#contact .emailBtn {
  margin-top: 1em;
  padding: 1em;
  border: 0;
  border-radius: 2em;
  background-color: #111;
  color: #f8f8f8;
  font-size: 1em;
}
#contact .emailBtn:hover {
  background-color: #222;
  cursor: pointer;
}
#contact .images {
  margin: 2em;
  max-width: 24px;
  height: auto;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  color: #f8f8f8;
  padding: 1.5em;
  font-size: 1.2em;
}
footer a {
  color: #ffa600;
  text-decoration: none;
}
footer a:hover {
  color: #ec7e00;
  text-decoration: underline;
}
.sociallinks {
  display: inline-flex;
  margin-top: 2em;
  justify-content: center;
}
.socialItem img {
  width: 48px;
  margin: 0 0.5em;
}
