/* universal settings*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
}
::selection {
  background-color: #ffc500;
  color: #111;
}

/* navbar settings */
.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 3em;
  height: 3em;
  cursor: pointer;
  margin-top: 1em;

}

.bar {
  width: 100%;
  height: 3px;
  background-color: #ffa600;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks,
.navIcons {
  display: flex;
  list-style-type: none;
}

.navLinks ul,
.navIcons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navLinks li,
.navIcons li {
  margin: 0;
  font-size: 1.5em;
}

.navLinks a,
.navIcons a {
  display: block;
  color: #f8f8f8;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  }
.navLinks a:hover,
.navIcons a:hover {
  color: #ec7e00;
  cursor: pointer;
}
.navIcons img {
  width: 48px;
}
/*about me section*/
#home {
  font-size: 1.5em;
  background-color: #111;
}
.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home .image {
  margin-right: 2em;
  max-width: 550px;
  height: auto;
}

.container-home .text {
  color: #f8f8f8;
  font-size: 1.3em;
}

/*download button*/
.downloadBtn {
  background-color: #ffa600;
  border: 0;
  border-radius: 2em;
  padding: 1em;
  font-size: 0.8em;
  color: #111;
}
.downloadBtn a {
  text-decoration: none;
  color: inherit;
}
.downloadBtn:hover {
  background-color: #ec7e00;
  color: #111;
  cursor: pointer;
}

/*skills section*/
#skills {
  background-color: #ffc500;
  padding: 2em;
}
#skills .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skillItem {
  margin: 0 2em;
  width: 60px;
}

/*aboutme section*/
#aboutme {
  color: #111;
  background-color: #ffa600;
  font-size: 1.2em;
  padding: 2em;
}
#aboutme .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  line-height: 1.5;
}

/*portfolio section*/
#portfolio {
  padding: 2em;
  font-size: 1.3em;
  color: #f8f8f8;
}
.font {
  text-align: center;
  margin-bottom: 2em;
}
#portfolio .container {
  max-width: 800px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%;
  margin-right: 1em;
  text-align: center;
}

.carousel-item img {
  width: 400px;
  height: auto;
}
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffa600;
  color: #f8f8f8;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}

/*contact section*/
#contact{
  font-size: 1.3em;
  background-color: #ffa600;
}
#contact .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}
#contact h2{
  text-align: center;
}
.emailForm {
  padding: 2em;
  border-radius: 3em;
}

.contactLabel {
  margin-left: 1em;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border: 0;
  border-radius: 2em;
}
textarea {
  width: 100%;
  height: 300px;
  padding: 1em;
  margin-bottom: 1em;
  border: 0;
  border-radius: 2em;
}

.emailBtn {
  background-color: #111;
  color: #f8f8f8;
  padding: 1em;
  border: none;
  border-radius: 3em;
  cursor: pointer;
  font-size: 1em;
}

.emailBtn:hover {
  background-color: #222;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  color: #f8f8f8;
  padding: 1.5em;
  font-size: 1.2em;
}
footer a {
  color: #ffa600;
  text-decoration: none;
}
footer a:hover {
  color: #ec7e00;
  text-decoration: underline;
}
.sociallinks {
  display: inline-flex;
  margin-top: 2em;
  justify-content: center;
}
.socialItem img {
  width: 48px;
  margin: 0 0.5em;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navLinks,
  .navIcons {
    display: none;
    width: 100%;
    text-align: center;
    padding: 1em 0;
  }
  .navLinks li,
  .navIcons li {
    margin: 0;
  }
  .hamburger-menu {
    display: flex;
  }
  .navLinks.active{
    display: block;
  }
  .navIcons.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navIcons img {
    width: 36px;
    flex-direction: row;
  }
  .container-home {
    flex-direction: column;
    text-align: center;
  }
  .container-home .image {
    margin: 0;
    width: 100%;
  }
  .container-home .text {
    font-size: 1.1em;
  }
  .downloadBtn {
    margin-bottom: 1em;
  }
  #portfolio .container {
    flex-direction: column;
    align-items: center;
  }
  .carousel-item img {
    width: 100%;
  }
  .carousel-control {
    padding: 0.5em;
  }
  #contact .emailForm input[type="text"],
  #contact .emailForm input[type="email"],
  #contact .emailForm textarea {
    width: calc(100% - 1em);
  }
  .sociallinks {
    flex-direction: row;
    align-items: center;
  }
  .socialItem img {
    margin: 0.5em;
    width: 36px;
  }
}
