@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .info {
    @apply bg-red-700 md:mx-auto flex flex-col items-center text-center py-2 px-4;
  }
  .info-heading {
    @apply text-3xl font-bold text-red-100;
  }
  .info-paragraph {
    @apply text-red-200 mt-2;
  }
  .hero-text {
    @apply md:container md:mx-auto mx-4 flex flex-col justify-center items-center md:my-32 my-16;
  }
  .hero-heading {
    @apply md:text-5xl text-3xl font-bold;
  }
  .hero-paragraph {
    @apply md:text-2xl text-lg font-bold;
  }
  /*About me*/
  .aboutme-heading {
    @apply text-2xl font-bold mb-4;
  }
  .aboutme-paragraph {
    @apply md:w-2/3 text-lg md:mx-auto mx-4;
  }
  .experience-heading {
    @apply text-2xl font-bold mb-4 mt-8 text-center border-b-2 border-cyan-700;
  }
  .inner-container {
    @apply my-4;
  }
  .image {
    @apply w-12;
  }
  .middleHeading {
    @apply font-bold text-lg;
  }
  .paragraph {
    @apply text-lg;
  }
  .home-btn {
    @apply bg-black text-gray-50 p-2 mb-8;
  }
}
