body{
    background-color: #00975d;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.container{
    width: 90%;
    background-color: #1f1f1f;
    color: #ccc;
    border: 1px solid #00975d;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #004d2f;
    margin: auto;
}
hr{
    border: 1px solid #00975d31;
}
.divSkills{
    background-color: #303030;
    border-radius: 5px;
    width: 600px;
    margin:auto;

}
.divSkills ul{
    padding: 5px;
}
.divSkills li{
    display:inline-flex;
    text-align: center;
    padding: 8px;
}
h1, h2, h3{
    margin: 35px;
}
p{
    color: #aaaaaa;
}
b{
    color: #00975d;
}
img{
    max-width: 250px;
    height: auto;
    filter: drop-shadow(0px 2px 10px #00975d );
    margin: 2em;
}
ul{
    list-style-type: none;
    text-decoration: none;
    margin: 2em;
    padding: 5px;
}
li{
    display: inline;
    text-align: end;
}
li a{
    color: #00975d;
    text-decoration: none;
    margin: 5px 5px;
    font-size: 1.3em;
    padding: 8px;
}
li a:hover{
    color: #00975d;
    background-color: #272727;
    border-radius: 10px;
}

input{
    width: 500px;
    padding: 10px;
    border: 1px solid #00975d;
    border-radius: 5px;
    background-color: #272727;
    color: #ccc;
    margin: 5px;
} 
textarea{
    width: 500px;
    padding: 10px;
    border: 1px solid #00975d;
    border-radius: 5px;
    background-color: #272727;
    color: #ccc;
    margin: 5px;
    font-family:Arial, Helvetica, sans-serif;

}
button{
    width: 10%;
    padding: 10px;
    background-color: #1f1f1f;
    color: #00975d;
    border: 1px solid #00975d;
    border-radius: 10px;
    font-size: 1em;
    margin: 10px;
}
button:hover{
    border: 1px solid #33c58d;
    color: #33c58d;
    cursor: pointer;
}


footer {
    margin: 2.5em;
    padding: 1.5em;
}
footer a{
    text-decoration: none;
    color: #fafafa;
}
footer a:hover{
    text-decoration: underline;
    color: #00975d;
}

::selection{
    background-color: #00975d;
    color: #1f1f1f;
}