body{
    background-color: #006666;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: #303030;
}
.container{
    width: 90%;
    max-width: 1200px;
    background-color: #272727;
    color: #ccc;
    border: 1px solid #004440;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #00b9ad;
    margin: auto;
    padding: 5px;
}

.divSkills{
    background-color: #303030;
    color: #ccc;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    margin: auto;
}
.divSkills ul{
    padding: 15px;
}
.divSkills li{
    display:inline-flex;
    text-align: center;
    padding: 10px;
}
a{
    text-decoration: none;
    color: #fafafa;
}
a:hover{
    color: #007770;
}

h1, h2, h3{
    margin: 35px;
}
p{
    color: #aaaaaa;
}
b{
    color: #555;
}
img{
    max-width: 250px;
    height: auto;
    filter: drop-shadow(0px 2px 10px #006666 );
    margin: 2em;
}
nav{
    margin: 25px;
}
ul{
    list-style-type: none;
    text-decoration: none;
    margin: 2em;
    padding: 5px;
}
li{
    display: inline;
    text-align: end;
}
li a{
    color: #aaa;
    text-decoration: none;
    margin: 5px 5px;
    font-size: 1.2em;
    padding: 10px;
}
li a:hover{
    color: #fafafa;
    background-color: #2e2e2e;
    border-radius: 5px;
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
}

textarea{
    width: 90%;
    padding: 10px;
    max-width: 600px;
    border: 1px solid #007770;
    border-radius: 5px;
    background-color: #272727;
    color: #ccc;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
button{
    width: 100%;
    max-width: 250px;
    padding: 10px;
    background-color: #1f1f1f;
    color: #007770;
    border: 1px solid #007770;
    border-radius: 10px;
    font-size: 1em;
    margin: 5px;
}
button:hover{
    border: 1px solid #aaa;
    color: #aaa;
    cursor: pointer;
}


footer {
    margin: 2.5em;
    padding: 1.5em;
}
footer a{
    text-decoration: none;
    color: #fafafa;
}
footer a:hover{
    text-decoration: underline;
    color: #006666;
}

::selection{
    background-color: #555;
    color: #1f1f1f;
}